
     <div class="container">
            <div class="row align-items-center justify-content-center" style="padding: 100px">  
                    <p-card [style]="{width: '500px', height: '250px'}" class="center" styleClass="ui-card-shadow">
                      <h5>Login</h5>  
                      <div class="ui-g ui-fluid" >
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" pInputText placeholder="Seu username">         
                                </div>
                            </div>
                
                            <div class="ui-g-12 ui-md-12">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" pPassword placeholder="Sua senha"/>
                                </div>
                            </div>
                        </div>
                        <p-footer class="ui-g-12 ui-md-12">
                            <button pButton type="button" label="Entrar" icon="pi pi-check" style="margin-right: .25em"></button>
                            <button pButton type="button" label="Limpar" icon="pi pi-times" class="ui-button-secondary"></button>
                        </p-footer>
                    </p-card>
     </div>